.emacs-backups/

commonlisp-gui/
learnyounode/
arduino/
escola-site/
my-sbcl/
teste-angular/
testeweb/
dotemacs/


jsrdbg/
the-super-tiny-compiler/

##
## scheme
##

##
## GJS
##
!/gjstutorial/
/**/gjstutorial/.emacs-backups
/**/gjstutorial/*
!/gjstutorial/parte1
!/gjstutorial/parte2
!/gjstutorial/parte3
!/gjstutorial/parte4
!/gjstutorial/create-desktop
!/.gitignore
!/gjstutorial/create-desktop/Makefile.am
!/gjstutorial/create-desktop/application.desktop.in
!/gjstutorial/create-desktop/application.js
!/gjstutorial/create-desktop/autogen.sh
!/gjstutorial/create-desktop/configure.ac
/**/gjstutorial/create-desktop/**
!/gjstutorial/testes
